{{ define "layout/form-login" }}
<div class="is-flex is-justify-content-center">
  <form action="/login" method="post" class="box container column is-two-fifths mt-6">
    <div class="field">
      <figure class="image is-4by3">
        <img src="/static/login-image.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" name="email" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" name="password" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <a class="bd-tw-button button" href="/auth/login">
          <span class="icon">
            <i class="fab fa-google"></i>
          </span>
          <span>
            Authenticate with Google
          </span>
        </a>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success">
          Login
        </button>
      </p>
    </div>
  </form>
</div>
{{end}}
